.portfolio {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar__list {
  padding: 0;
  margin: 0 0 25px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.toolbar-list__item {
  padding: 5px 15px;
  margin-top: 10px;
  margin-right: 10px;
  border: 2px solid #555;
  cursor: pointer;
}

.toolbar-list__item:last-child {
  margin-right: 0;
}

.toolbar-list-item__selected {
  background-color: #555;
  color: #fff;
}

.projects {
  width: 300px;
}

.projects__item {
  width: 300px;
  margin-bottom: 15px;
  display: block;
}

@media (min-width: 731px) and (max-width: 1024px) {
  .projects {
    width: 620px;
    column-count: 2;
  }
}

@media (min-width: 1025px) {
  .projects {
    width: 940px;
    column-count: 3;
  }
}
